<!doctype html>
<html class="no-js" lang="">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_gb" />
    <meta property="og:url" content="http://"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="http://"/>


    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:image" content="http://"/>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!--Bootstrap-->
    <!--Note: Should already be imported in SASS-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--/Bootstrap-->


    <link rel="stylesheet" href="css/default.css">



    <title></title>


</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>