{% extends "base.html.twig" %}

{% block content %}
    <h2 style="text-align:center;">page contact {{ space.quiz_info.info.title.value }}
    </h2>
    {% include "page/contact-extra.inc.twig" %}
    {% include "footer.inc.twig" %}
{% endblock content %}

